# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
bun.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.wrangler
.nx
.tmp
.husky/_/
.env
mock-data
playwright-report
test-results
packages/worker/public/client-entry.js
packages/worker/public/client-entry.js.map
packages/worker/public/assets/
packages/worker/public/client-manifest.json
packages/worker/wrangler-*.generated.json
packages/worker/.generated/
packages/worker/src/generated/
packages/runtime-worker/wrangler-local-dev.generated.json
packages/runtime-worker/wrangler-*.generated.json
packages/platform-worker/wrangler-local-dev.generated.json
packages/platform-worker/wrangler-*.generated.json
packages/jobs-worker/wrangler-local-dev.generated.json
packages/jobs-worker/wrangler-*.generated.json
packages/highlight-worker/wrangler-local-dev.generated.json
packages/highlight-worker/wrangler-*.generated.json
packages/api-worker/wrangler-*.generated.json
